# Documentación (Ignora todos los .md excepto los README)
*.md
!README.md
!readme.md

# Datos (DVC se encarga de versionarlos, Git no debe tocarlos)
*.csv
*.parquet

# Archivos de macOS
.DS_Store

# Configuraciones de IDEs
.cursor/
.vscode/
.idea/

# Entornos virtuales de Python (Conda y venv)
.conda/
.conda-env/
env/
.env/
venv/
.venv/
conda-lock.yml

# Caché de Python
__pycache__/
*.pyc

# Archivos de Jupyter Notebooks
.ipynb_checkpoints/

# Archivos de MLflow
mlruns/
*.db
/prod_model
